:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio)); /* 0.131 */
  --s-4: calc(var(--s-3) / var(--ratio)); /* 0.197 */
  --s-3: calc(var(--s-2) / var(--ratio)); /* 0.296 */
  --s-2: calc(var(--s-1) / var(--ratio)); /* 0.444 */
  --s-1: calc(var(--s0) / var(--ratio)); /* 0.666 */
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio)); /* 1.500 */
  --s2: calc(var(--s1) * var(--ratio)); /* 2.250 */
  --s3: calc(var(--s2) * var(--ratio)); /* 3.375 */
  --s4: calc(var(--s3) * var(--ratio)); /* 5.062 */
  --s5: calc(var(--s4) * var(--ratio)); /* 7.593 */

  /* max width */
  /* --measure: 60ch; elo measure, why again? */
  --measure: 30rem; /* ~66 char */
  --measure-wide: 34rem; /* ~80 char */
  --measure-narrow: 20rem; /* ~45 char */

  /* from tachyons */
  --document-width: 64rem;

  /* https://absolutely.every-layout.dev/layouts/sidebar/#the-component */
  --sidebar-side-width: 280px;
  --sidebar-content-min: 60%;
}

* {
  box-sizing: border-box;
  font-family: var(--copy-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font-family);
}

body {
  background: #fff;
}

a,
a:visited,
a:link {
  color: var(--link-color);
  text-decoration: none;
}

ul {
  padding: 0;
}

.list {
  list-style-type: none;
}

.list li {
  margin: var(--s-2) 0;
}
