.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-keyword,
.hljs-builtin,
.hljs-deletion {
	color: #e0ebe9;
}

.language-text,
.language-javascript,
.language-shell,
.language-csharp,
.language-yaml {
	color: #e0ebe9;
}

.hljs {
	color: #e0ebe9;
	padding: --spacing(4) --spacing(2);
}

pre.not-prose code.hljs {
	padding: 0;
}
