@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@import './quote-styles.css' layer(components);
@import './sidenote.css' layer(components);
@import './highlight.css' layer(components);

@theme {
    --color-oxford-500: #314D65;
    --color-oxford-100: #E0EBE9;
    --font-heading: var(--font-humane, 'humane');

    /* min height .. page ... 50vh */
    /* fontFamily: {
      sans: ['var(--font-space-g)'],
      heading: ['var(--font-humane)', 'sans-serif'],
    },
    fontSize: {
      xxs: ['0.5rem', {
        lineHeight: '0.75rem'
      }],
      md: ['1rem', {
        lineHeight: '150%'
      }]
    },
    maxWidth: {
      document: '64rem',
    },
    gridTemplateRows: {
      'outer': 'minmax(calc(100vh - 500px), max-content), 500px'
    } */
    --grid-cols-2cols: '1fr 2fr';

    --tw-prose-links: var(--color-blue-500);
}


@layer base {
    /* start my base */
    /* links: https://frontendmasters.com/blog/chilled-out-text-underlines/ */
    a {
        color: var(--color-blue-500);
        font-family: var(--font-sans);
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    a:not(:is(:hover, :focus)) {
        text-decoration-color: color-mix(in srgb, currentColor, transparent 75%);
    }

    p {
        font-family: var(--font-sans);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-space-g);
    }

    body {
        /*https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient()*/
        /* matte-white */
        /*background: radial-gradient(circle at 100%, #ECE9E6, #ECE9E6 50%, #fff 75%, #ECE9E6 75%);*/

        /* clouds */
        /*background: radial-gradient(ellipse at top, #ECE9E6, transparent),*/
        /*radial-gradient(ellipse at bottom, #fff, transparent);*/
    }


    .bg-footer {
        background: linear-gradient(-10deg, #000000, #2C3E50);
    }

    /* Tailwind Customizations of Prose */
    .prose > article > p:first-child {
        margin-top: 0;
    }

    .deep {
        height: 100%;
        width: 100%;
        background-color: #012345;
        background-image: radial-gradient(circle farthest-corner at top left, rgba(1, 35, 69, 1) 0%, rgba(1, 35, 69, 0) 50%),
        radial-gradient(circle farthest-side at top right, rgba(18, 52, 86, 1) 0%, rgba(18, 52, 86, 0) 10%),
        radial-gradient(circle farthest-corner at bottom right, rgba(35, 69, 103, 1) 0%, rgba(35, 69, 103, 0) 33%),
        radial-gradient(circle farthest-corner at top right, rgba(52, 86, 120, 1) 0%, rgba(52, 86, 120, 0) 50%),
        radial-gradient(ellipse at bottom center, rgba(1, 35, 69, 1) 0%, rgba(1, 35, 69, 0) 80%);

    }
}


