/* handle nested content */
.markdown p {
  /* f5 */
  font-size: 1rem;

  /* lh-copy */
  line-height: 1.5;

  /* measure */
  max-width: 30em;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown > p:first-child {
  /* mt0-ns */
  margin-top: 0;
}

.markdown h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.markdown h2 {
  font-size: 1.5rem;
}

.markdown ul,
.markdown ol {
  line-height: 1.5;
}

.markdown a {
  transition: color 0.15s ease-in;
}

.markdown table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown blockquote {
  border-left: 3px solid #357edd;
  padding-left: 1rem;
  margin-left: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown blockquote p {
  font-size: 1.25rem;

  /* measure */
  max-width: 21em;
}

.markdown blockquote p:last-child {
  margin: 0;
}

.markdown blockquote p cite {
  font-size: 0.75rem;
}

.markdown blockquote + p {
  margin-top: 1.5rem;
}

.markdown em {
  margin-right: 0.1rem;
}

.markdown ul,
.markdown ol {
  padding: 0;
  max-width: 30em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown ul {
  list-style-type: disc;
}
.markdown li {
  display: list-item;
}

.markdown li:before {
  color: rgba(0, 0, 0, 0.3);
}


/* Tailwind Customizations of Prose */
.prose > article > p:first-child {
  margin-top: 0;
}

pre.not-prose code.hljs {
  padding: 0;
}
