{{ define "main" }}
  {{ range .Data.Pages.GroupByDate "2006" }}
    <div class="archive">
      <h3 class="f2 lh-title">{{ .Key }}</h3>
      <ul>
        {{ range .Pages }}
        <div class="mv2">
          <time class="code black-50 f7" style="width:4rem; display: inline-block;">{{ .Date.Format "Jan 02" }}</time>
          <a class="link blue" href="{{ .Permalink }}" class="post-link">
            {{ .Title }}
          </a>
        </div>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
