<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}" {{ end }}>

  {{ partial "head.html" . }}

  <body>

    <center-l max="var(--document-width)" gutters="var(--s0)">
      <stack-l>
        {{ partial "nav.html" . }}
        {{ partial "profile.html" . }}
        {{ partial "search.html" . }}

        <sidebar-l sideWidth="var(--sidebar-side-width)" contentMin="var(--sidebar-content-min)">
          <div>
            {{ partial "sidebar.html" . }}
            <article>
                {{ block "main" . }}
                <!-- content -->
                {{ end }}
            </article>
          </div>
        </sidebar-l>

        {{ partial "footer.html" . }}
      </stack-l>
    </center-l>

    {{ partial "js.html" . }}
  </body>

</html>
