{{ define "main" }}

<div class="resume">
  <!-- play with print styles here -->

  <div>
    <!-- <div class="pic"><img src="/images/pic.png" /></div> -->

    <blockquote>
      {{ .Params.summary }}
    </blockquote>

    <h3>Work Experience</h3>

    {{ range .Params.jobs }}
      <div class="experience">
        <h4>
          {{ .employer }}
          {{ if .url }}
          <small>
            <a href="{{ .url }}" target="_blank">{{ .urllabel }} <i class="far fa-external-link-square"></i></a>
          </small>
          {{ end }}
        </h4>
        <switcher-l>
          <div>
            <div class="title">{{ .title }}</div>
            <div class="duration">{{ .start }} - {{ .end }}</div>
          </div>
        </switcher-l>

        {{ range .description }}
        <p>
          {{ . | markdownify }}
        </p>
        {{ end }}
      </div>
    {{ end }}

    <h3 class="measure lh-title">Education</h3>

    {{ range .Params.education }}
      <div class="education">
        <h4>{{ .school }} <small><a href="{{ .url }}" target="_blank">{{ .urllabel }} <i class="far fa-external-link-square"></i></a></small></h4>
        <switcher-l>
          <div>
            <div>
              {{ .major }}
              <br />
              <small> {{ .minor }}</small>
            </div>
            <div>
              {{ .start }} - {{ .end }}
            </div>
          </div>
        </switcher-l>
      </div>
    {{ end }}

    <div style="clear:both;"></div>

    <h3>Community Activities</h3>
    <stack-l>
    {{ range .Params.activities }}
      <div class="activity">
        {{ . }}
      </div>
    {{ end}}
    </stack-l>

  </div>

</div>

{{ end }}
