.dds-search-input {
  background-color: #FFF;
}

.dds-search {
  position: relative;
}

.dds-search input {
  border: none;
  background-color: #fff;
}

.dds-search input:focus {
  outline: none;
}

.dds-search .dds-search-results {
  position: absolute;
  width: 700px;
  background: white;
  left: 0;
  top: 40px;
  /* max-height: 75vh; */
  z-index: 100;
  border-width: 1px;
}