.nav {
  nav {
    padding: var(--s-1) var(--s0);
  }
  nav a,
  nav a:link,
  nav a:visited {
    color: #555;
    text-decoration: none;
    display: inline-block;
    padding-left: var(--s0);
  }

  nav aside {
    float: right;
  }
}

