<div id="post-list">
    {{ $paginator := .Paginate (where (where .Site.Pages "Type" "posts") "IsPage" true) }}
    {{ range $paginator.Pages }}
        {{ $url := replace .Permalink .Site.BaseURL "" }}
        <a class="link blue" href='{{ .Permalink }}'>
            <h2 class="mt0" >
                {{ .Title }}
            </h2>
        </a>

        {{ if .Site.Params.enableSummary }}
            <p class="f5 lh-copy measure">
                {{ if .Site.Params.useDescriptionReplaceSummary }}
                    {{ .Description | plainify }}
                {{ else }}
                    {{ .Summary | plainify | htmlUnescape }}
                {{ end }}
            </p>
        {{ end }}
    {{ end }}
</div>
