<header>
  <switcher-l>
    <div>
      <div>
        <a href='{{ with .Site.Params.avatarLink }}{{ . }}{{ else }}{{ .Site.BaseURL }}/about{{ end }}'>
          <img id="avatar" src="{{ .Site.BaseURL }}/images/logo.svg" alt="{{ .Site.Title }}"
          height="90px"/>
        </a>
      </div>
      <div>
        <div id="hcard-Dru-Sellers" style="float:right;">
          <span style="float: none">Dru Sellers</span>
          <div class="email"><a class="link" href="mailto:dru@drusellers.com">dru@drusellers.com</a></div>
          <div class="twitter"><a class="link" href="http://twitter.com/drusellers">@drusellers</a></div>
          <div class="adr">
              <div class="street-address"></div>
              <span class="locality">Austin</span>,
              <span class="region">TX</span>
              <span class="postal-code">78745</span>
              <span class="country-name">USA</span>
          </div>
          <div class="tel">+1 785/371-4589</div>
        </div><!-- /hcard -->
      </div>
    </div>
  </switcher-l>
</header>

