<header>
  <stack-l space="var(--s0)">
    <h1 class="article-title">
      {{ if .Params.Title }}
        {{ .Params.Title }}
      {{ else }}
        {{ .Site.Params.description }}
      {{ end }}
    </h1>
    {{ if .Params.subtitle }}
      <h2 class="article-subtitle">
        {{ .Params.subtitle }}
      </h2>
    {{ end}}
    {{ if .Params.withStats }}
      {{ if gt .WordCount 0 }}
        <div class="article-detail">
          {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
          · {{ .ReadingTime }} minute read
        </div>
      {{ end }}
      <time class="article-detail">
        {{ .Date.Format "Jan 2, 2006" }}
      </time>
    {{ end }}
    {{ with .Params.tags }}
      <div class="tags">
        {{ if ge (len .) 1 }}
          <ul class="list">
            {{ range . }}
              <li class="tag">
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">
                  <i class="fal fa-tag"></i> <span>{{ . | urlize }}</span>
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Params.toc }}
      <hr />
      {{ if .TableOfContents }}
        <div id="toc">
          <h5>Table of Contents</h5>
          {{ .TableOfContents }}
        </div>
      {{ end }}
    {{ end }}
  </stack-l>
</header>
