.allegory dl {
}

.allegory dt {
  font-weight: var(--weight-6);
  font-size: var(--font-s1);
  color: #ccc;
}
.allegory dt:nth-child(1),
.allegory dt:nth-child(3) {
  color: #000;
}

.allegory dd {
  margin-left: var(--s0);
  margin-bottom: var(--s0);
}

.allegory dd:nth-child(4n) {
  font-style: italic;
}
