.archive {

}
.archive h3 {
  font-size: var(--font-s2);
}

.archive > div {
  margin: var(--s-2) 0;
}
.archive time {
  color: #999;
  font-size: var(--font-s-1);
  font-family: Consolas, monaco, monospace;
  width: 4rem;
  display: inline-block;
}
