.article-title {
  font-size: var(--font-s3);
  border-top: 4px solid #000;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  line-height: var(--leading-title);
  padding: var(--s0) 0 0 0;
  max-width: var(--sidebar-side-width);
}

.article-subtitle {
  font-size: var(--font-s2);
  color: #555;
  line-height: var(--leading-title);
  margin-bottom: 0;
  padding: var(--s0) 0 0 0;
}

.article-detail {
  font-size: var(--font-s-1);
  color: #777;
  /* tracked */
  letter-spacing: 0.1rem;
}

.tags .tag span {
  font-size: var(--font-s0);
}

.tags .tag span:hover {
  text-decoration: underline;
}
