/* handle nested content */
.markdown p {
  /* f5 */
  font-size: 1rem;

  /* lh-copy */
  line-height: 1.5;

  /* measure */
  max-width: 30em;

}

.markdown p+p {
  /* Do I need this? */
  margin-top: 1.5rem;
}

.markdown ul, .markdown ol {
  line-height: 1.5;
}

.markdown a {
  transition: color .15s ease-in;
}

.markdown blockquote {
  border-left: 3px solid #357edd;
  padding-left: 1rem;
  margin-left: 0;
}

.markdown blockquote p {
  font-size: 1.25rem;

  /* measure */
  max-width: 21em;
}

.markdown blockquote p:last-child {
  margin: 0;
}

.markdown blockquote p cite {
  font-size: 0.75rem;
}

.markdown>p {
  /* mt0-ns */
  margin-top: var(--spacing-none)
}

/* .markdown>ul, .markdown>ol {
  padding: 0;
  max-width: 30em;
}

.markdown>ul ul {
  padding: 0;
  padding-left: 1rem;
}

.markdown li:before {
  color: rgba(0, 0, 0, 0.3);
} */
