/* handle nested content */
.nested p {
  /* f5 */
  font-size: 1rem;

  /* lh-copy */
  line-height: 1.5;

  /* measure */
  max-width: 30em;

}

.nested blockquote {
  border-left: 3px solid #357edd;
  padding-left: 1rem;
  margin-left: 0;
}

.nested blockquote p {
  font-size: 1.5rem;

  /* measure */
  max-width: 21em;
}

.nested>p {
  /* mt0-ns */
  margin-top: var(--spacing-none)
}

.nested>ul, .nested>ol {
  padding: 0;
  max-width: 30em;
}

.nested>ul ul {
  padding: 0;
  padding-left: 1rem;
}

.nested li {}


/* TOC */
#TableOfContents>ul {
  padding: 0;
  margin: 0;
}

#TableOfContents>ul ul {
  padding: 0;
  padding-left: 1rem;
}

#TableOfContents li {
  list-style-type: none;
}

#TableOfContents a {
  color: #357edd;
  text-decoration: none;
}
