/* Single */
.quote blockquote {
  font-family: athelas, georgia, serif;
  border-left: 3px solid #357edd;
  padding-left: 1rem;
  margin-left: 0;
  max-width: var(--measure);
}
.quote blockquote p {
  font-size: var(--font-s2);
  line-height: var(--leading-copy);
}

.quote blockquote cite {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: var(--font-s0);
  font-style: normal; /* not italic */
}
