.resume h2 {
  font-size: var(--font-s3);
  line-height: var(--leading-title);
  margin-top: 0;
}

.resume blockquote {
  margin-left: var(--s2);
  max-width: var(--measure);
  line-height: var(--leading-copy);
}

.resume h3 {
  font-size: var(--font-s2);
  line-height: var(--leading-title);
  max-width: var(--measure);
}

/* experience */
.experience {
  margin-left: var(--s2);
}
.experience h4 {
  max-width: var(--measure);
  line-height: var(--leading-title);
  font-size: var(--font-s1);
  margin-bottom: var(--s-1);
}
.experience p {
  max-width: var(--measure);
  line-height: var(--leading-copy);
}
.experience .details {
  margin: 0;
  padding: 0;
}
.title,
.duration {
  max-width: var(--measure);
  line-height: var(--leading-title);
}

.duration,
.resumeDuration {
  font-size: var(--font-s-1);
  text-align: right;
}

/* education */
.education h4 {
  max-width: var(--measure);
  line-height: var(--leading-title);
}

.activity {
  max-width: var(--measure);
  line-height: var(--leading-copy);
}
