/* TOC */
#TableOfContents {
  padding: 0;
}

#TableOfContents>ul {
  padding: 0;
  margin: 0;
}

#TableOfContents>ul ul {
  padding: 0;
  padding-left: 1rem;
}

#TableOfContents li {
  list-style-type: none;
  padding-bottom: var(--s0);
}

#TableOfContents a {
  color: #357edd;
  text-decoration: none;
  padding-left:0;
}
