.dds-relevancy-input {
  background-color: #FFF;
}

.dds-relevancy {
  position: relative;
}

.dds-relevancy input {
  border: none;
  background-color: #fff;
}

.dds-relevancy input:focus {
  outline: none;
}

.dds-relevancy .dds-relevancy-results {
  position: absolute;
  width: 700px;
  background: white;
  left: 0;
  top: 40px;
  /* max-height: 75vh; */
  z-index: 100;
  border-width: 1px;
}
